.tournamentsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.imgWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.tournamentImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.name {
  position: absolute;
  bottom: 10px; /* Adjust bottom spacing as needed */
  left: 50%; /* Position at the horizontal center */
  transform: translateX(-50%); /* Center the text horizontally */
  background-color: rgba(81, 77, 139, 0.5);
  padding: 5px 10px; /* Padding around the text */
  text-align: center; /* Center align the text */
  width: calc(100% - 20px); /* Adjust width as needed */
  box-sizing: border-box; /* Include padding in the width */
  z-index: 10; /* Ensure text is above the image */
  color: white;
}
