.TournamentFrame {
    position: relative;
    height: 25rem;
    width: 25rem;
    margin: 0 2rem 2rem 0;
    border-radius: 27px;
    background: #ffffff;
  }
  
  .overlay {
    height: 20rem;
    width: 20rem;
    background-color: black;
    border-radius: 31px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
  }
  
  .imgWrapper,
  .descriptionWrapper {
    position: absolute;
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tournamentImg {
    position: absolute;
    object-fit: contain;
    width: 18rem;
    height: 18rem;
    transition: transform 0.3s;
  }
  
  .description {
    position: absolute;
    text-align: center;
    color: turquoise;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.5;
  }
  
  .bolderDescription {
    color:#f3f3f3;
    font-size: 3rem;
    font-weight: 600;
  }
  
  .show {
    opacity: 1;
    transition: opacity 0.6s 0.15s;
  }
  
  .hide {
    opacity: 0;
    transition: opacity 0.6s;
  }
  
  .tournamentFrame:hover .overlay {
    opacity: 0.35;
  }
  
  .tournamentFrame:hover{
    transform: scale(1.1);
  }
  
  
  
 
 
  